 *{
    margin: 0;
 } 
  .image{
    width: 400px;  
}
.picture{
    padding-right: 70px;
    padding-top: 40px;
}
.container{
    display: flex;
    
    background-color: lightpink;
    gap: 50px;    
}
.first{
    padding: 100px;   
}
    
.start{
    font-size: 50px;
    padding-bottom: 20px;
}
.start-pera{
    font-size: 25px;
    padding-bottom: 20px;
}
.btn1{
    font-size: 25px;
    padding: 10px;
    background-color: coral;
    border: 0;
    border-radius: 5px;
}
.main{
    margin: 60px 0;
    background-color:antiquewhite;
    padding: 50px;

}
.image2{
    width: 400px;
}
.container2{
    display: flex;
    gap: 80px;  
}
.title{
    padding: 100px;
    text-align: center;
}
.hot{
    font-size: 40px;
    padding-bottom: 15px;
}
.title-pera{
    padding-bottom: 15px;
    font-size: 25px;
}
.btn2{
    font-size: 25px;
    padding: 10px 15px;
    background-color:crimson;
    border: 0;
    border-radius: 5px;
}
.picture2{
    padding-right: 80px;
}
.off{
    color: crimson;
}
.insta{
    margin: 60px 110px;
    
    
      
}
.insta-pic{
    width: 310px;
    height: 300px;
    
}
.pic{
    display: flex;
    gap: 20px;  
    justify-content: center; 
}

.title2{
    text-align: center;
    padding: 0 305px;
}
.ins{
    font-size: 35px;
    padding-bottom: 15px;
}
.pera{
    font-size: 25px;
    padding-bottom: 25px;
}
.deal{
    margin: 60px 110px;
    padding: 50px;
    text-align: center;
    background-image: url(./images/Rectangle\ 9.png);
}
.get{
    font-size: 40px;
    padding-bottom: 10px;
}
.shopping{
    font-size: 20px;
    padding-bottom: 35px;
}
input{
    font-size: 20px;
    padding: 10px;
    width: 50%;
    border: 0;
    border-radius: 5px;
}
.btn3{
    font-size: 25px;
    padding: 10px 15px;
    background-color:crimson;
    border: 0;
    border-radius: 5px;
    
}
.foot{
    margin-top: 80px ;
    padding: 70px;
    text-align: center;
    background-color: black;
    color: white;
}
.foot-shop{
    font-size: 40px;
    padding-bottom: 15px;
}
.foot-pera{
    font-size: 25px;
    padding-bottom: 15px;
}
.flo{
    color:crimson;
}
.bonus1{
    margin: 60px 60px;
    padding: 50px;
    padding-bottom: 0;
    
}
.our{
    text-align: center;
    
    
}
.feat{
    font-size: 30px;
    padding-bottom: 15px;
}
.feat-pera{
    font-size: 25px;
    padding-bottom: 45px;
    padding-left: 250px;
    padding-right: 250px;
}
.flower-title{
    display: flex;
    gap: 50px;
    justify-content: center;
    
}
.pink{
    background-image: url(./images/240_F_303742480_YS62yjfMDmdTvDC8ttlUTKLryynV8FIX.jpg);
    border-radius: 400px ;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 50px;
    
    
}
.pink2{
    background-image: url(./images/240_F_336892491_aZIazKCweTtVXT4BT8I2OxOlNwk1JV7j.jpg);
    border-radius: 400px ;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 40px;
    
    
    
}
.pink3{
    background-image: url(./images/240_F_391911620_vUJTPRx6NXhTWN2iWBGmNrOzTrcyju0V.jpg);
    border-radius: 400px;
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 40px;
    
    
    
}
.pink-img{
    width: 200px;
    height: 200px;
}
.title-down a{
    
    padding: 75px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    
}
.title-down{
    text-align: center;
    padding: 30px;  
}
.gift{ 
    margin: 60px 60px;
    padding: 80px;
    background-color: lemonchiffon;
}
.bonus2{
    display: flex;
    gap: 90px;
}
.gift-head{
    text-align: center;
    font-size: 40px;
    padding-right: 60px;
    padding-top: 70px;
    
}
.gift-pera{
    font-size: 20px;
    padding: 35px;
}
.img2{
    width: 300px;
    border-radius: 100px;
}
.more{
    display: flex;
    gap: 30px;
}
.tulip{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.black{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.tag{
    padding: 65px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.btn7{
    padding: 100px;
    
}
.btn-click{
    font-size: 20px;
    padding: 10px;
    border: 0;
    background-color: crimson;
}

